{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} حذف مدرس{% endblock title %}
{% block content %}
<div class="container text-center">
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="alert alert-warning">
                هل تريد مسح {{ object }}?
            </div>
        </div>
        <button type="submit" class="btn btn-danger">
                تأكيد الحذف
        </button>
    </form>
</div>
{% endblock content %}    